DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/boardgametime_dev?schema=public"
REDIS_HOST="localhost"
REDIS_PORT="6379"
JWT_SECRET="boardgametime-secret-key-dev"
PORT="4000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
